@model IEnumerable<Dal.Dragones.Factura>

@using System.Security.Claims
<!DOCTYPE html>
<html lang="es">
<head>
    <style>
        .nav-item a {
            text-decoration: none; /* Quitar subrayado */
            color: inherit; /* Heredar el color del texto */
            display: inline-block; /* Hacerlo un bloque en línea para aplicar padding correctamente */
            cursor: pointer; /* Cambiar el cursor a puntero */
            font-size: 27px;
        }
        /* Estilo personalizado para centrar la tabla */
        .container-table {
            max-width: 90%; /* Ajusta el ancho máximo de la tabla */
            margin: auto; /* Centra la tabla en el contenedor */
        }

        .toast-custom {
            top: 50%; /* Centra verticalmente */
            right: 0; /* Alineado a la derecha */
            transform: translateY(-50%); /* Ajusta la posición para centrar */
        }

        .toast-custom .toast-message {
                font-size: 18px; /* Tamaño de la fuente */
                font-weight: bold; /* Opcional: para que el texto sea negrita */
        }

        .toast-custom .toast-title {
                font-size: 20px; /* Tamaño de la fuente del título de la notificación */
                font-weight: bold; /* Opcional: para que el título sea negrita */
        }

        .btn {
            vertical-align: bottom !important;
            margin-left: 5px !important;
        }

        @@media (min-width: 768px) {
            .form-inline .form-control {
                display: block !important;
                width: 200px !important;
            }
        }

        }

        .form-group {
            margin-bottom: 1rem;
        }

        .btn-group {
            margin-right: 5px !important;
            vertical-align: bottom !important;
        }

        .modal-content {
            border-radius: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="content-page-container full-reset custom-scroll-containers">
        <nav class="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
                <figure>
                    <img src="~/assets/img/user01.png" alt="user-picture" class="img-responsive img-circle center-box">
                </figure>
                <li class="user-info" style="color:#fff; cursor:default;">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="user-info">
                        <div class="user-details">
                            <span data-placement="bottom" title="Usuario">Bienvenido, @User.FindFirst(ClaimTypes.Role)?.Value @User.Identity.Name</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="logout-button" class="exit-system-button">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                    }
                </li>
                <li class="tooltips-general btn-help" data-placement="bottom" title="Ayuda">
                    <i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>
                </li>
                <li class="mobile-menu-button visible-xs" style="float: left !important;">
                    <i class="zmdi zmdi-menu"></i>
                </li>
                <li class="desktop-menu-button hidden-xs" style="float: left !important;">
                    <i class="zmdi zmdi-swap"></i>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Sistema Restaurante Los Dragones <small>Facturas</small></h1>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                        <li class="active">Listado de Factura</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-4">
            <!-- Formulario de Filtros por Fecha -->
            <form id="filterForm" class="form-inline mb-4">
                <div class="form-group mr-3">
                    <label for="startDate" class="mr-2">Fecha de Inicio:</label>
                    <input type="date" id="startDate" class="form-control" />
                </div>
                <div class="form-group mr-3">
                    <label for="endDate" class="mr-2">Fecha de Fin:</label>
                    <input type="date" id="endDate" class="form-control" />
                </div>
                <div class="btn-group">
                    <button type="button" id="filterByDateButton" class="btn btn-primary" data-toggle="tooltip" title="Filtra los registros dentro del rango de fechas especificado. Si dejas los campos de fecha vacíos, se mostrarán todos los registros.">Filtrar por Fecha</button>
                    <button type="button" id="reloadButton" class="btn btn-secondary" data-toggle="tooltip" title="Recarga todos los registros sin aplicar filtros.">Recargar Datos</button>
                </div>
            </form>
            <br />
            <!-- Formulario de Filtros por Monto -->
            <form id="amountFilterForm" class="form-inline mb-4">
                <div class="form-group mr-3">
                    <label for="minPrice" class="mr-2">Precio Mínimo:</label>
                    <input type="number" id="minPrice" class="form-control" placeholder="Precio Mínimo">
                </div>
                <div class="form-group mr-3">
                    <label for="maxPrice" class="mr-2">Precio Máximo:</label>
                    <input type="number" id="maxPrice" class="form-control" placeholder="Precio Máximo">
                </div>
                <div class="btn-group">
                    <button type="button" id="filterByAmountButton" class="btn btn-primary" data-toggle="tooltip" title="Filtra los registros con montos dentro del rango especificado. Si dejas los campos de monto vacíos, se mostrarán todos los registros.">Filtrar por Monto</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#helpModal">¿Cómo usar Filtros?</button>
                </div>
            </form>

        </div>

        <br />


        <!-- Modal de Ayuda -->
        <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="helpModalLabel">Cómo Usar los Filtros</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>¿Cómo usar los filtros?</strong></p>
                        <p>1. <strong>Filtrar por Fecha</strong>: Ingresa una <strong>Fecha de Inicio</strong> y una <strong>Fecha de Fin</strong>. Luego haz clic en **"Filtrar por Fecha"** para mostrar los registros dentro de ese rango de fechas. Si dejas los campos de fecha vacíos, se mostrarán todos los registros.</p>
                        <p>2. <strong>Filtrar por Monto</strong>: Ingresa un <strong>Precio Mínimo</strong> y un <strong>Precio Máximo</strong>. Luego haz clic en **"Filtrar por Monto"** para mostrar los registros con montos dentro de ese rango. Si dejas los campos de monto vacíos, se mostrarán todos los registros.</p>
                        <p>3. <strong>Filtrar por Fecha y Monto</strong>: Puedes combinar ambos filtros para mostrar solo los registros que cumplan con ambos criterios.</p>
                        <p>4. <strong>Recargar Datos</strong>: Haz clic en **"Recargar Datos"** para volver a mostrar todos los registros sin filtros aplicados.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-table">
            <table class="table table-secondary table-bordered table-hover" id="tabla">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Fecha)</th>
                        <th>@Html.DisplayNameFor(model => model.NombreCliente)</th>
                        <th>@Html.DisplayNameFor(model => model.Responsable)</th>
                        <th>@Html.DisplayNameFor(model => model.Subtotal)</th>
                        <th>@Html.DisplayNameFor(model => model.Iva)</th>
                        <th>@Html.DisplayNameFor(model => model.TotalPagar)</th>
                        <th>@Html.DisplayNameFor(model => model.Observaciones)</th>
                        <th>@Html.DisplayNameFor(model => model.MetodoPago)</th>
                        <th>@Html.DisplayNameFor(model => model.Pedidos)</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Fecha)</td>
                            <td> @Html.DisplayFor(modelItem => item.NombreCliente)</td>
                            <td> @Html.DisplayFor(modelItem => item.Responsable)</td>
                            <td>@Html.DisplayFor(modelItem => item.Subtotal)</td>
                            <td>@Html.DisplayFor(modelItem => item.Iva)</td>
                            <td>@Html.DisplayFor(modelItem => item.TotalPagar)</td>
                            <td> @Html.DisplayFor(modelItem => item.Observaciones)</td>
                            <td>@Html.DisplayFor(modelItem => item.MetodoPago) </td>
                            <td>@Html.DisplayFor(modelItem => item.Pedidos.Estado)</td>
                            <td class="text-center">
                                <!-- Centra el botón Editar -->
                                <a asp-controller="Factura" asp-action="Edit" asp-route-id="@item.id" class="btn btn-info tooltips-general" data-toggle="tooltip" data-placement="top" title="Editar"><i class="zmdi zmdi-edit"></i></a>
                            </td>
                            <td class="text-center">
                                <form id="form-delete-@item.id" asp-controller="Factura" asp-action="Delete" asp-route-id="@item.id" method="post">
                                    <button type="button" onclick="confirmDelete(@item.id)" class="btn btn-danger tooltips-general" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                        <i class="zmdi zmdi-delete"></i>
                                    </button>
                                </form>
                            </td>
                            <td class="text-center">
                                <!-- Centra el botón Detalles -->
                                <a asp-controller="Factura" asp-action="Details" asp-route-id="@item.id" class="btn btn-primary tooltips-general" data-toggle="tooltip" data-placement="top" title="Detalles"><i class="zmdi zmdi-info"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
                    </div>
                    <div class="modal-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dignissimos qui molestias ipsum officiis unde aliquid consequatur, accusamus delectus asperiores sunt. Quibusdam veniam ipsa accusamus error. Animi mollitia corporis iusto.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#helpButton').click(function () {
                $('#helpToast').toast('show');
            });

            // Inicializar el toast
            $('#helpToast').toast({
                delay: 5000
            });
        });
    </script>



    <script>
        function confirmDelete(facturaId) {
            $('#confirmDeleteModal').modal('show');

            // Cuando se confirme la eliminación
            $('#confirmDeleteButton').click(function () {
                // Envía el formulario para eliminar
                document.getElementById('form-delete-' + facturaId).submit();
            });
        }
    </script>


    <script>
        $(document).ready(function () {
            var table = $('#tabla').DataTable({
                language: {
                    processing: "Procesando...",
                    search: "Buscar:",
                    lengthMenu: "Mostrar _MENU_ Elementos",
                    info: "Mostrando del _START_ al _END_ de un total de _TOTAL_ elementos",
                    infoEmpty: "Mostrando 0 elementos",
                    infoFiltered: "(filtrado de un total de _MAX_ elementos)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron registros coincidentes",
                    emptyTable: "No hay datos disponibles en la tabla",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Último"
                    },
                    aria: {
                        sortAscending: ": activar para ordenar la columna de manera ascendente",
                        sortDescending: ": activar para ordenar la columna de manera descendente"
                    }
                }
            });

            $('#filterDateButton').click(function () {
                table.draw();
            });

            $('#filterAmountButton').click(function () {
                table.draw();
            });

            $('#reloadButton').click(function () {
                // Limpiar los campos de filtro
                $('#startDate').val('');
                $('#endDate').val('');
                $('#minPrice').val('');
                $('#maxPrice').val('');

                // Redibujar la tabla sin filtros
                table.search('').columns().search('').draw();
            });

            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var startDate = $('#startDate').val();
                    var endDate = $('#endDate').val();
                    var minPrice = parseFloat($('#minPrice').val()) || 0;
                    var maxPrice = parseFloat($('#maxPrice').val()) || Infinity;
                    var fechaStr = data[0]; // Suponiendo que la fecha está en la primera columna (índice 0)
                    var precio = parseFloat(data[3]); // Suponiendo que el precio está en la cuarta columna (índice 3)

                    // Convertir las fechas a objetos Date
                    var fecha = new Date(fechaStr);
                    var start = startDate ? new Date(startDate) : null;
                    var end = endDate ? new Date(endDate) : null;

                    // Normalizar las fechas a medianoche para ignorar la hora
                    fecha.setHours(0, 0, 0, 0);
                    if (start) start.setHours(0, 0, 0, 0);
                    if (end) end.setHours(23, 59, 59, 999);

                    // Comparar las fechas
                    var dateMatch = (!start && !end) || (!start && fecha <= end) || (!end && fecha >= start) || (fecha >= start && fecha <= end);

                    // Comparar precios
                    var priceMatch = (precio >= minPrice && precio <= maxPrice);

                    return dateMatch && priceMatch;
                }
            );
        });

    </script>

    <script>
        const sound = new Audio('/assets/Sonido02.mp3');
        const notificationKey = 'notificacionFactura50k';

        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-custom",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            function NotificacionAlta() {
                if (!localStorage.getItem(notificationKey)) {
        @foreach (var item in Model)
        {
            if (item.TotalPagar > 50000)
            {
                <text>
                                toastr["success"]("Se ha registrado una factura con un monto mayor a 50,000", "Factura registrada");
                </text>
            }
        }
                        localStorage.setItem(notificationKey, 'true');
                }
            }

            NotificacionAlta();
        });
    </script>
</body>
</html>