@model IEnumerable<Dal.Dragones.Pedido>

@{
    ViewBag.Title = "Pedidos en Cocina";
    var facturarUrl = Url.Action("Create", "Factura");
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container-cards {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            padding: 20px;
        }

        .nav-item a {
            text-decoration: none;
            color: inherit;
            display: inline-block;
            cursor: pointer;
            font-size: 27px;
        }

        .card {
            position: relative;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 18rem;
            margin: 1rem;
            transition: transform 0.2s;
        }

            .card:hover {
                transform: translateY(-10px);
            }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 18px;
            font-weight: bold;
            margin: 0 0 10px 0;
        }

        .card-text {
            margin: 0 0 10px 0;
            color: #555;
        }

        .btn-primary {
            position: absolute; /* Posiciona el botón en relación con el contenedor .card */
            top: 10px;
            right: 10px;
            /* Asegura que el botón tenga un aspecto apropiado */
            padding: 10px 20px;
            font-size: 14px;
        }

        .btn-actions {
            display: flex;
            justify-content: center;
            gap: 15px; /* Ajusta el espacio entre los botones según tu preferencia */
            margin-top: 20px;
        }

            .btn-actions .btn {
                padding: 8px 15px; /* Aumenta el tamaño del botón */
                font-size: 19px; /* Ajusta el tamaño del texto dentro del botón */
                border-radius: 10px; /* Redondea un poco los bordes del botón */
            }

        .toast-custom {
            top: 50%; /* Centra verticalmente */
            right: 0; /* Alineado a la derecha */
            transform: translateY(-50%); /* Ajusta la posición para centrar */
        }

            .toast-custom .toast-message {
                font-size: 18px; /* Tamaño de la fuente */
                font-weight: bold; /* Opcional: para que el texto sea negrita */
            }

            .toast-custom .toast-title {
                font-size: 20px; /* Tamaño de la fuente del título de la notificación */
                font-weight: bold; /* Opcional: para que el título sea negrita */
            }


    </style>




</head>
<body>
    <div class="content-page-container full-reset custom-scroll-containers">
        <!-- Navbar -->
        <nav class="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
                <figure>
                    <img src="~/assets/img/user01.png" alt="user-picture" class="img-responsive img-circle center-box">
                </figure>
                <li class="user-info" style="color:#fff; cursor:default;">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="user-info">
                        <div class="user-details">
                            <span data-placement="bottom" title="Usuario">Bienvenido, @User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value @User.Identity.Name</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" id="logout-button" class="exit-system-button">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                    }
                </li>
                <li class="tooltips-general btn-help" data-placement="bottom" title="Ayuda">
                    <i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>
                </li>
                <li class="mobile-menu-button visible-xs" style="float: left !important;">
                    <i class="zmdi zmdi-menu"></i>
                </li>
                <li class="desktop-menu-button hidden-xs" style="float: left !important;">
                    <i class="zmdi zmdi-swap"></i>
                </li>
            </ul>
        </nav>

        <!-- Modal para mostrar detalles pendientes -->
        <div class="modal fade" id="modalDetallesPendientes" tabindex="-1" role="dialog" aria-labelledby="modalDetallesPendientesLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDetallesPendientesLabel">Detalles Pendientes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="warning-icon">&#x26A0;</span>
                        <p>No se puede facturar porque faltan los siguientes productos que aún no están Entregados:</p>
                        <ul id="listaDetallesPendientes"></ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Contenido principal -->
        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Sistema Restaurante Los Dragones <small>Pedidos en Cocina</small></h1>
            </div>
        </div>

        <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="~/assets/img/user01.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    En esta sección puedes ver los Pedidos mandados a cocina por el sistema.
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                        <li class="active">Mesero</li>
                        <li><a asp-controller="Pedido" asp-action="Index">Lista de pedidos</a></li>
                        <li><a asp-controller="Pedido" asp-action="CrearPedido">Crear Pedido</a></li>

                    </ol>
                </div>
            </div>
        </div>

        <!-- Tarjetas de Pedidos en Cocina -->
        <div class="container-cards" id="pedidos-container">
            @foreach (var pedido in Model)
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mesa: @pedido.Mesa.NumMesa</h5>
                        <p class="card-text">Fecha: @pedido.Fecha.ToString("M/d/yyyy h:mm:ss tt")</p>
                        <p class="card-text">Estado: @pedido.Estado</p> <!-- Estado del pedido -->
                        <p class="card-text">Total: @pedido.Total</p>
                        <p class="card-text">Detalles:</p>
                        @foreach (var detalle in pedido.Detalles)
                        {
                            <p>
                                @detalle.Nombre - Cantidad: @detalle.Cantidad
                                @if (detalle.Disponible)
                                {
                                    <span class="text-success">&#x2714;</span> <!-- Check mark -->
                                }
                                else
                                {
                                    <span class="text-danger">&#x26A0;</span> <!-- Warning icon -->
                                }
                                @if (detalle.Categoria == "Bebida" && detalle.Disponible == false || (detalle.Categoria == "Comida" && detalle.ListaComida && detalle.Disponible == false))
                                {
                                    <button class="btn btn-success"
                                            onclick="marcarComoEntregado('@pedido.Id', '@detalle.Id')">
                                        Entregado
                                    </button>
                                }
                            </p>
                        }

                        @{
                            // Función auxiliar para verificar si todos los detalles del pedido son bebidas
                            bool SoloContieneBebidas(Dal.Dragones.Pedido pedido)
                            {
                                return pedido.Detalles.All(d => d.Categoria == "Bebida");
                            }
                        }
                        <a asp-action="DetallesPedido" asp-route-id="@pedido.Id" class="btn btn-primary">Detalles</a>

                        <div class="btn-actions">

                            <button class="btn btn-info" onclick="verificarDetallesPendientes('@pedido.Id')">Facturar</button>

                            @if (pedido.Estado == "PENDIENTE" && !SoloContieneBebidas(pedido))
                            {
                                <button class="btn btn-info" onclick="mandarACocina('@pedido.Id')">Mandar a cocina</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

        
    </div>



    <script>
        const facturarUrl = "@facturarUrl";

        let notificacionMostrada = new Set();

        const sound = new Audio('/assets/Sonido02.mp3');

        $(document).ready(function () {
            function actualizarPedidos() {
                $.ajax({
                    url: '@Url.Action("ObtenerPedidosMesero")',
                    method: 'GET',
                    success: function (data) {
                        console.log(data);
                        $('#pedidos-container').empty();

                        data.forEach(function (pedido) {
                            if (pedido.mesa && pedido.mesa.numMesa !== undefined) {
                                const fecha = new Date(pedido.fecha);
                                const opcionesFecha = {
                                    month: 'numeric',
                                    day: 'numeric',
                                    year: 'numeric'
                                };
                                const opcionesHora = {
                                    hour: 'numeric',
                                    minute: 'numeric',
                                    second: 'numeric',
                                    hour12: true
                                };

                                // Formatear la fecha
                                const fechaFormateada = fecha.toLocaleDateString('en-US', opcionesFecha) + ' ' + fecha.toLocaleTimeString('en-US', opcionesHora);

                                // Crear el contenido HTML para los detalles del pedido
                                let detallesHtml = '';
                                pedido.detalles.forEach(function (detalle) {
                                    let estadoIcono = detalle.disponible
                                        ? '<span class="text-success">&#x2714;</span>' // Check mark
                                        : '<span class="text-danger">&#x26A0;</span>'; // Warning icon

                                    // Botón "Entregado" solo para bebidas o comidas si `ListaComida` es `true`
                                    let botonEntregado = '';

                                    if (detalle.categoria == 'Bebida' && detalle.disponible == false ||
                                        (detalle.categoria == 'Comida' && detalle.listaComida && detalle.disponible == false)) {
                                        botonEntregado = `
                                            <button class="btn btn-success" onclick="marcarComoEntregado('${pedido.id}', '${detalle.id}')">
                                                Entregado
                                            </button>`;

                                        // Crear una clave única para el detalle (ej. combinación de ID de pedido y detalle)
                                        let claveDetalle = `${pedido.id}-${detalle.id}`;

                                        // Mostrar notificación solo si es nuevo
                                        if (!notificacionMostrada.has(claveDetalle)) {
                                            toastr.success(`
                                                        <p>
                                                            ${detalle.nombre} - Cantidad: ${detalle.cantidad}<br>
                                                            Mesa número: ${pedido.mesa.numMesa}<br>
                                                            Está lista para ser entregada.
                                                        </p>
                                                    `);
                                            sound.play().catch(error => {
                                                console.error('Error al reproducir el sonido:', error);
                                            });
                                            notificacionMostrada.add(claveDetalle); // Marca el detalle como notificado
                                        }
                                    }

                                    detallesHtml += `
                                                                <p>
                                                                    ${detalle.nombre} - Cantidad: ${detalle.cantidad}
                                                                    ${estadoIcono}
                                                                    ${botonEntregado}
                                                                </p>`;
                                });
                                const soloContieneBebidas = pedido.detalles.every(d => d.categoria === 'Bebida');
                                // Botones de acciones adicionales
                                let accionesHtml02 = '';

                                let accionesHtml = `
                                                                    <a href="/Pedido/DetallesPedido/${pedido.id}" class="btn btn-primary">Detalles</a>`;
                                if (pedido.estado == 'PENDIENTE' && !soloContieneBebidas) {
                                    accionesHtml02 = `
                                                        <button class="btn btn-info" onclick="mandarACocina('${pedido.id}')">Mandar a cocina</button>`;
                                }
                                    accionesHtml02 += `
                                                    <button class="btn btn-info" onclick="verificarDetallesPendientes('${pedido.id}')">Facturar</button>`;


                                $('#pedidos-container').append(
                                    `<div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title">Mesa: ${pedido.mesa.numMesa}</h5>
                                                            <p class="card-text">Fecha: ${fechaFormateada}</p>
                                                            <p class="card-text">Estado: ${pedido.estado}</p>
                                                            <p class="card-text">Total: ${pedido.total}</p>
                                                            <p class="card-text">Detalles:</p>
                                                            ${detallesHtml}
                                                            ${accionesHtml}
                                                            <div class="btn-actions">
                                                                    ${accionesHtml02}
                                                            </div>

                                                        </div>
                                                    </div>`
                                );
                            } else {
                                console.error('Pedido sin Mesa o NumMesa:', pedido);
                            }
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error al obtener pedidos:', textStatus, errorThrown);
                    }
                });
            }

            setInterval(actualizarPedidos, 2000);

            window.marcarComoEntregado = function (pedidoId, detalleId) {
                $.ajax({
                    url: '/Pedido/CambiarEstadoEntregadoMesero', // Reemplaza con la URL correcta si es diferente
                    method: 'POST',
                    data: {
                        idPedido: pedidoId,
                        detallesSeleccionados: [detalleId] // Enviamos el detalleId en una lista
                    },
                    success: function (response) {
                        console.log('Detalle marcado como entregado:', detalleId);
                        // Actualizar la vista después de marcar como entregado
                        actualizarPedidos();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error al marcar como entregado:', textStatus, errorThrown);
                    }
                });
            };

            window.mandarACocina = function (pedidoId) {
                console.log('mandarACocina llamada con idPedido:', pedidoId); // Verifica si se llama correctamente
                $.ajax({
                    url: '/Pedido/MandarACocinaMesero',
                    method: 'POST',
                    data: {
                        id: pedidoId
                    },
                    success: function (response) {
                        console.log('Respuesta de MandarACocina:', response); // Verifica la respuesta del servidor
                        if (response.success) {
                            console.log('Pedido mandado a cocina:', pedidoId);
                            actualizarPedidos();
                        } else {
                            console.error('Error al Mandar el pedido:', response.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Error al Mandar el pedido:', textStatus, errorThrown);
                    }
                });
            };

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-custom",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };


        });

        function verificarDetallesPendientes(idPedido) {
            $.ajax({
                url: '@Url.Action("VerificarDetallesPendientes", "Pedido")',
                type: 'GET',
                data: { idPedido: idPedido },
                success: function (response) {
                    if (response.detallesPendientes && response.detallesPendientes.length > 0) {
                        mostrarModalDetallesPendientes(response.detallesPendientes);
                    } else {
                        var facturarUrl = '@Url.Action("Create", "Factura")';
                        window.location.href = facturarUrl + "?id=" + idPedido;
                    }
                },
                error: function (error) {
                    console.error('Error al verificar detalles pendientes:', error);
                }
            });
        }

        function mostrarModalDetallesPendientes(detallesPendientes) {
            console.log("Tipo de detallesPendientes:", typeof detallesPendientes);
            console.log("Contenido de detallesPendientes:", detallesPendientes);

            if (Array.isArray(detallesPendientes)) {
                var lista = $("#listaDetallesPendientes");
                lista.empty();
                detallesPendientes.forEach(function (detalle) {
                    lista.append("<li>" + "Nombre: " + detalle.nombre + "  Cantidad: " + detalle.cantidad + "</li>");
                });
                $("#modalDetallesPendientes").modal("show");
            } else {
                console.error("detallesPendientes no es un arreglo");
            }
        }

    </script>
</body>
</html>
